.place__image {
  background-position: center center;
  object-fit: cover;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

@media screen and (max-width: 650px) {
  .place__image {
    grid-row: 3 / 4;
    grid-column: 1 / 2 ;
  }
}