.header__styles {
  padding: 28px 48px 56px;
}
  
@media screen and (max-width: 1140px) {
  .header__styles {
    padding: 28px 48px 48px;
  }
}
    
@media screen and (max-width: 984px) {
  .header__styles {
    padding: 28px 24px 48px;
  }
}
    
@media screen and (max-width: 568px) {
  .header__styles {
    padding: 16px 16px 48px;
  }
}