.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 984px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .place__paragraph {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    padding: 0 16px;
  }
}