.footer {
  display: flex;
  flex-direction: row;
  background-color:#2A2C2F;
  color: #FFFFFF;
  justify-content: space-between;
}

@media screen and (max-width: 730px) {
  .footer {
    flex-direction: column;
  }
}