.place__url-heading {
  font-size: 12px;
  line-height: 170%;
  font-weight: 400;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0 auto 12px 0;
}

@media screen and (max-width: 984px) {
  .place__url-heading {
    line-height: 12px;
  }
}